h1 {
	font-family: Roboto;
}

div {
	font-family: Tahoma;
	font-size: 120%;
	margin-left: 15%;
}

a {
	text-decoration: none;
	color: blue;
	font-family: Tahoma;
	font-size: 120%;
	margin-left: 15%;
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}
