h1 {
	font-family: Roboto;
}

div {
	font-family: 'Times New Roman', Times, serif;
	font-size: 127%;
	margin-left: 15%;
	margin-right: 7%;
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 127%;
	margin-left: 15%;
	margin-right: 7%;
}

a {
	text-decoration: none;
	color: blue;
	font-family: 'Times New Roman', Times, serif;
	font-size: 127%;
	margin-left: 15%;
	margin-right: 7%;
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}
